{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Nearby</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

        <!--Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

        <!-- Leaflet JS-->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <!-- Set map height-->
        <style>
            
            #mapid { height: 450px; width: 600px; transform: translate(110%, 30%);} 
         
        </style>

    </head>
    
    <body>

        <div class="wrapper0">

            <input type = "text" class="input" placeholder="what are you looking for?">
            <div class="searchbtn">
                <i class="fas fa-search"></i>
            </div>
        </div>

        <div class= wrapper>
            <h1>Closest Restaurants to you are :</h1>
        {% if restaurants %} 
        <ul>
            {% for rest in restaurants %}
            <li>
                {{ rest.name}}: {{rest.distance}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>

        <!-- map div-->
        <div id="mapid"></div>
        
        <!-- map js-->
        <script>
            var map = L.map('mapid').setView([34.01979, -6.82829], 17);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

            L.marker([34.01979, -6.82829]).addTo(map)
            .bindPopup('I am here.')
            .openPopup()
        
            {% for rest in restaurants %} 
            var circle = L.circle([{{ rest.location.y }} , {{ rest.location.x }}], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 5
            }).addTo(map);
            {% endfor %}
        </script>
    </body>
</html>